<h1 mat-dialog-title>Details from repository: {{data.name}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Language</mat-label>
        <input readonly matInput [(ngModel)]="data.language">        
    </mat-form-field>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input readonly matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input readonly matInput [(ngModel)]="data.fullName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Owner</mat-label>
        <input readonly matInput [(ngModel)]="data.owner">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input readonly matInput [(ngModel)]="data.description">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Stars Count</mat-label>
        <input readonly matInput [(ngModel)]="data.starsCount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Forks Count</mat-label>
        <input readonly matInput [(ngModel)]="data.forksCount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Watchers Count</mat-label>
        <input readonly matInput [(ngModel)]="data.watchersCount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Created At</mat-label>
        <input readonly matInput [(ngModel)]="data.createdAtViewDate">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Updated At</mat-label>
        <input readonly matInput [(ngModel)]="data.updatedAtViewDate">
    </mat-form-field>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCancel()">Close</button>    
</div>